.solutionsDeveloped {
  width: 100%;
  padding: 150px 0px 140px;

  background-color: #1d1b1b;

  .fintechSolutions {
    display: flex;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 1201px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 600px) {
    padding: 150px 0px;
  }

  .imgDiv {
    img {
      // width: 70%;

      @media (max-width: 600px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }

      @media (max-width: 900px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  .wrapper {
    color: var(--white);

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .fintechSolutionsTextDiv {
      width: 500px;
      margin: 5rem 0 0 6rem;

      h3 {
        font-size: 40px;
        line-height: 45px;
        text-transform: capitalize;
        margin: 0 0 2rem 0;
      }

      p {
        font-size: 16px;
        line-height: 29px;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
        margin: 5rem 0 0 0rem;
        text-align: center;
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 5rem 0 0 0rem;
        text-align: center;
      }

      @media screen and (max-width: 1201px) {
        width: 80%;
        margin: 5rem 0 0 0rem;
        text-align: center;
      }
    }

 

    h5 {
      font-size: 18px;
      font-family: Wesfy-Bold;
      line-height: 26px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 48px;
      font-family: Wesfy-Bold;
      line-height: 58px;
      // max-width: 450px;
      // margin-bottom: 50px;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    > p {
      max-width: 532px;
      font-size: 18px;
      line-height: 1.4;
    }

    .related {
      position: absolute;
      width: 288px;
      height: 214px;
      top: 200px;
      right: 130px;
      background: rgba(34, 34, 34, 0.65);
      opacity: 0.85;
      border-radius: 4px;
    

      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
      }

      > div {
        display: flex;
        flex-direction: column;
        margin-right: 99px;

        @media screen and (max-width: 600px) {
          margin-right: 0px;
          margin-bottom: 32px;
          text-align: center;

          &:last-of-type {
            margin-bottom: 0px;
          }

          > span {
            display: block;
            margin: 0 auto;
          }
        }

        &:last-of-type {
          margin-right: 0px;
        }

        span {
          &:first-of-type {
            font-size: 45px;
            font-family: Wesfy-Bold;

            @media screen and (max-width: 700px) {
              font-size: 32px;
            }
          }

          &:last-of-type {
            font-size: 17px;
            margin-top: 9px;
            max-width: 70px;
            color: #c4c4c4;
            line-height: 1.6;
            font-family: Proxima-Medium;
          }
        }
      }
    }
  }
}
