.buildingPartner {
  width: 100%;
  padding: 150px 0px 140px;
  background: url("/images/long-curl-bg.svg") no-repeat;
  background-size: cover;
  // position: relative;
  background-size: contain;

  @media (max-width: 600px) {
    padding: 150px 0px;
  }

  .man {
    img {
      // width: 70%;

      @media (max-width: 600px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }

      @media (max-width: 900px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }

      @media screen and (max-width: 1200px) {
        width: 90%;
        margin: 90px auto 0 auto;
      }
    }
  }

  .imageRight {
    margin: 0 0 100px 0;
  }

  .buildingPartnerContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // margin: 0 0 100px 0;
    // left: 0;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .buildingText {
    width: 500px;

    h3 {
      width: 461px;
      font-size: 45px;
      line-height: 49px;
      color: #484646;
      margin: 0 0 2rem 0;
    }
    p {
      font-size: 16px;
      line-height: 23px;
      margin: 0 0 2rem 0;
    }

    @media (max-width: 600px) {
      width: 100% !important;
      text-align: center;

      h3 {
        width: 100%;
        font-size: 45px;
        line-height: 49px;
        color: #484646;
        margin: 0 0 2rem 0;
      }
      p {
        font-size: 16px;
        line-height: 23px;
        margin: 0 0 2rem 0;
      }
    }

    @media (max-width: 900px) {
      width: 600px;
      text-align: center;

      h3 {
        width: 100%;
        font-size: 45px;
        line-height: 49px;
        color: #484646;
        margin: 0 0 2rem 0;
      }
      p {
        font-size: 16px;
        line-height: 23px;
        margin: 0 0 2rem 0;
      }
    }
  }
  .stackTextDiv {
    display: flex;
    margin: 0 0 0.5rem 0;

    h5 {
      padding: 20px 0 0 15px;
      font-size: 18px;
      // line-height: 50px;
    }

    img {
      width: 42px;
    }
  }

  .developFintechDiv {
    display: flex;
    justify-content: flex-end;

    .singleGrid {
      width: 322px;

      p {
        font-size: 16px;
        line-height: 29px !important;
        color: #040404;
      }
    }
  }

  .developFintechGrid {
    width: 900px;
    // padding: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 3rem;
  }

  .wrapper {
    .heading {
      h6 {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.025em;
      }

      p {
        font-size: 48px;
        line-height: 50px;
        width: 851px;
        letter-spacing: 0.01em;
        font-weight: lighter;
        text-transform: capitalize;
        color: #484646;
        // font-family: Wesfy;
      }

      @media (max-width: 600px) {
        h6 {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.025em;
          text-align: center;
        }

        p {
          font-size: 28px;
          line-height: 50px;
          width: 851px;
          letter-spacing: 0.01em;
          font-weight: lighter;
          text-transform: capitalize;
          color: #484646;
          text-align: center;
          // font-family: Wesfy;
        }
      }

      @media (max-width: 900px) {
        h6 {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.025em;
          text-align: center;
        }

        p {
          font-size: 38px;
          line-height: 50px;
          width: 100%;
          letter-spacing: 0.01em;
          font-weight: lighter;
          text-transform: capitalize;
          color: #484646;
          text-align: center;
          // font-family: Wesfy;
        }
      }
    }
  }

  .contactUsLine {
    display: flex;
    padding: 100px 0 0 0;

    h4 {
      font-size: 36px;
      line-height: 45px;
      width: 770px;
      color: #1e2348;
      letter-spacing: 0.01em;
      font-family: Proxima-Bold !important;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h4 {
        font-size: 36px;
        line-height: 45px;
        width: 100% !important;
        color: #1e2348;
        letter-spacing: 0.01em;
        font-family: Proxima-Bold !important;
        text-align: center;
      }
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 36px;
        line-height: 45px;
        width: 570px;
        color: #1e2348;
        letter-spacing: 0.01em;
        font-family: Proxima-Bold !important;
        text-align: center;
      }
    }

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 36px;
        line-height: 45px;
        // width: 570px;
        color: #1e2348;
        letter-spacing: 0.01em;
        font-family: Proxima-Bold !important;
        text-align: center;
      }
    }
  }

  .contactLink {
    display: flex;
    align-items: center;
    margin: 0 0 0 10rem;

    span {
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      text-transform: capitalize;
      color: #1e2348;
      margin: 0 1rem 0 0;
    }

    @media (max-width: 600px) {
      margin: 0 0 0 0rem;
    }

    @media (max-width: 900px) {
      margin: 0 0 0 0rem;
    }

    @media screen and (max-width: 1200px) {
      margin: 0 0 0 0rem;
    }
  }
}
