/****** CONTENT TAKE UP CONTAINER FULL HEIGHT  ******/
#page-container {
  position: relative;
  min-height: 100vh;
  /* padding: 0 0 0 30rem; */
  margin: 0 0 0 0rem;
}
/****** GIVES EXTRA BOTTOM SPACE FOR FOOTER TO FIT IN  ******/
#content-wrapper {
  /* padding-bottom: 216px; */
}
/****** CONTENT DONT LAP AGAINST CONTAINER WALL ******/
.main-content {
  padding: 0 2rem;
}
/****** APP DONT TAKE UP THE CONTAINER FULL WIDTH ******/
.main-content-container {
  max-width: 100rem;
  /* max-width: 117rem; */
  margin: 0 auto;
  padding-top: 8rem;
}
/****** FOOTER REMAINS AT THE BOTTOM WITHIN THE GIVEN BOTTOM SPACE ******/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 216px; 
  padding: 0 2rem;
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  #page-container {
    position: relative;
    min-height: 100vh;
    margin: 0 0 0 30rem;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  #page-container {
    position: relative;
    min-height: 100vh;
    margin: 0 0 0 30rem;
  }
}

/* // padding-top: 0;
// object-fit: contain;
// background-origin: border-box;
// background-position: center; */
/* MADE SURE THE IMAGE IS CONTAINED IN THE SUPPLIED CONTAINER HEIGHT */
/* // background-size: contain;
// padding: 0 2rem;
// color: var(--main-black);
// background-repeat: no-repeat;
// background-position: top center; */
